#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P       |  BKSP    |
// | DEL  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  | ; (lower)| ' (raise)|
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /       | ESC      |
//                    | ALT | GUI | SPC |   | BKSP| ENT  | CTRL |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp DEL   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &lt 1 SEMI &lt 2 SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LALT &kp LGUI &kp SPACE   &kp BSPC &kp ENTER &kp LCTRL
                        >;
                };
                lower_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  ESC |  ^  |  &  |  {  |  }  |  |  |   |  "  |  !  |  #  |  $  |     | BKSP |
// | DEL  |  *  |  _  |  (  |  )  |  `  |   |  '  |  +  |  =  |  -  |     |      |
// | SHFT |  @  |  %  |  [  |  ]  |  ~  |   |  :  |  ;  |  /  |  \  |     |      |
//                    | ALT | GUI | SPC |   | BKSP| ENT | CTRL |
                        bindings = <
   &kp ESC    &kp CARET       &kp AMPS  &kp LBRC     &kp RBRC     &kp PIPE       &kp DQT   &kp EXCL &kp HASH  &kp DLLR   &trans    &kp BSPC
   &kp DEL    &kp KP_MULTIPLY &kp UNDER &kp LPAR     &kp RPAR     &kp GRAVE      &kp SQT   &kp PLUS &kp EQUAL &kp MINUS  &trans    &trans
   &kp LSHFT  &kp AT          &kp PRCNT &kp LBKT     &kp RBKT     &kp TILDE      &kp COLON &kp SEMI &kp FSLH  &kp BSLH     &trans    &trans
                        &kp LALT &kp LGUI &kp SPACE     &kp BSPC &kp ENTER &kp LCTRL
                        >;
                };

                raise_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  ESC |     |  7  |  8  |  9  |  V+ |   |     |     |  UP  |      |    | BTCLR|
// | DEL  |     |  4  |  5  |  6  |  V- |   |     |  LF |  DN  |  RT  |    |      |
// | CTRL | ALT |  1  |  2  |  3  |  0  |   |     |     |      |      |    |      |
//                    | ALT | GUI | SPC |   | BKSP| ENT | CTRL |
                        bindings = <
   &kp  ESC  &trans   &kp N7 &kp N8   &kp N9   &kp C_VOL_UP   &trans    &trans    &kp UP    &trans    &trans   &bt BT_CLR
   &kp DEL   &trans   &kp N4 &kp N5   &kp N6   &kp C_VOL_DN   &trans    &kp LEFT &kp DOWN   &kp RIGHT &trans   &trans
   &kp LCTRL &kp LALT &kp N1 &kp N2   &kp N3   &kp N0         &trans    &trans   &trans     &trans    &trans   &trans
                                &kp LALT &kp LGUI &kp SPACE         &kp BSPC &kp ENTER &kp LCTRL
                        >;
                };
        };
};
